
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
!README.md  # Mantener este archivo si existe


.idea/  # Para PyCharm/IntelliJ
.vscode/ 
*.swp
*~
.DS_Store 

test-results/
playwright-report/

screenshots/
videos/
traces/

